@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lexend', sans-serif;
}

@layer base {
  :root {
    --background: 240 43% 98%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 251 65% 61%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 10% 92%;
    --secondary-foreground: 224 71% 4%;
    --muted: 240 5% 85%;
    --muted-foreground: 240 5% 45%;
    --accent: 283 44% 66%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 10% 88%;
    --input: 240 10% 94%;
    --ring: 251 65% 61%;
    --chart-1: 251 65% 61%;
    --chart-2: 283 44% 66%;
    --chart-3: 251 45% 71%;
    --chart-4: 283 34% 76%;
    --chart-5: 251 35% 81%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 224 71% 4%;
    --sidebar-primary: 251 65% 61%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 10% 92%;
    --sidebar-accent-foreground: 224 71% 4%;
    --sidebar-border: 240 10% 88%;
    --sidebar-ring: 251 65% 61%;
  }
  .dark {
    --background: 224 71% 4%;
    --foreground: 240 43% 98%;
    --card: 224 71% 4%;
    --card-foreground: 240 43% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 240 43% 98%;
    --primary: 251 65% 61%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 10% 15%;
    --secondary-foreground: 240 43% 98%;
    --muted: 240 10% 25%;
    --muted-foreground: 240 5% 65%;
    --accent: 283 44% 66%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 10% 15%;
    --input: 240 10% 20%;
    --ring: 251 65% 61%;
    --chart-1: 251 65% 61%;
    --chart-2: 283 44% 66%;
    --chart-3: 251 45% 71%;
    --chart-4: 283 34% 76%;
    --chart-5: 251 35% 81%;
    --sidebar-background: 230 20% 8%;
    --sidebar-foreground: 240 43% 98%;
    --sidebar-primary: 251 65% 61%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 10% 15%;
    --sidebar-accent-foreground: 240 43% 98%;
    --sidebar-border: 240 10% 15%;
    --sidebar-ring: 251 65% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
